html, body{
	font-family:'Myriad Pro", Arial, Georgia, sans-serif;
	font-size:15px;
	font-weight: 400;
	color: #95a5a6;

}
.text{
	text-align: center;
	color: #fff;
}

#about {
	text-align:center;
}
#about h1 {
	color: #e74c3c;
}
#about h3{
	color: #e74c3c;
}
#about i {
	color: #e74c3c;
	font-size: 65px;
}
footer {

	background: #e74c3c;
	height: 400px;
	width: 100%;
}
footer i {
	
	color: white;
	padding: 30px;
	border-style: solid;
	margin: 50px;
	font-size: 30px;


}
header {
	background-image: url(img2.png);
	
	background-repeat: no-repeat;
	background-size: 100%;
	background position: center;
	height: 500px;
}

.second {
	color: #95a5a6;
	text-align: center;
	margin: 0 auto;

}


.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.newbtn{
	margin: 0 auto;
	text-align: center;
	 
	background-border: #f1968c;
}
.foot
{
	text-align: center;
}
footer h1 h2{
	text-align: left;
}
.third{

}
.pics{
	text-align: center;
	margin: 0 auto;
	padding: 50px;
}
.forth{
	margin-top: 30px;
}
.copy h2{
	text-align: right;
}
